:root {
    --navWidth: 18vw;
    --leftOffset: 18vw;
    --paddingLeft: 100px;
    --contentWidth: 60vw;
    --maxWidth: 1310px;
    --sectionSpacing: 100px;
}

body {
    background: #3a0000;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

a {
    color: white;
    text-decoration: none;
}

.strong {
    font-weight: 600;
}

.button {
    display: block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px rgba(255, 255, 255) solid;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 125px;
}

main > section, footer > div {
    width: var(--contentWidth);
    max-width: var(--maxWidth);
}

/* navigation */

nav {
    padding: 50px;
    padding-top: 100px;

    background: #3a0000;
    cursor: default;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: right;
    top: 0;
    width: var(--navWidth);
    font-size: 1.1rem;
}

nav li {
    text-transform: uppercase;
}

nav ul:first-child {
    margin-bottom: 70px;
}

nav ul:first-child li {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

nav ul:first-child li:last-child {
    border: none;
}

@media screen and (max-width: 1280px) {

    nav {
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }

    nav ul:first-child li {
        display: inline-block;
    }

    nav ul:last-child {
        display: none;
    }
}

/* main page */

main {
    background: rgb(186,125,62);
    background: linear-gradient(180deg, rgba(186,125,62,1) 0%, rgba(186,164,62,1) 100%);

    margin-left: var(--leftOffset);

    padding-left: var(--paddingLeft);

    font-size: 1.2rem;
    line-height: 2;
}

main h1, main h2 {
    line-height: 1.2;
    margin-bottom: 20px;
}

main h1 {
    font-size: 3em;
}

main h2 {
    font-size: 2em;
}

main h3 {
    font-size: 1.5em;
}

main p {
    margin-bottom: 20px;
}

main p:last-child {
    margin-bottom: 0;
}

section {
    margin-bottom: var(--sectionSpacing);
}

section:first-child, section:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1280px) {

    main {
        margin: 0;
        padding: 0;
    }

}

/* welcome */

#welcome {
    min-height: 100vh;
    padding-top: var(--paddingLeft);
}

#video  {
    width: var(--contentWidth);
    height: 300px;
    background-size: cover;
    background-image: url("../images/poster.jpg");
    position: relative;
    margin-bottom: 40px;
}

video  {
    width: var(--contentWidth);
    height: 300px;
    object-fit: cover;
}

#subtitles {
    position: absolute;
    right: 10px;
    top: 10px;
}

#welcome > p:last-child {
    padding-bottom: var(--sectionSpacing);
    display: inline-block;
}

#welcome > p:last-child img {
    width: 20px;
    vertical-align: -4px;
}

/* information */

#information ol {
    list-style-type: decimal;
}

#information ol li {
    margin-bottom: 20px;
}

/* contact */

#contact ul li {
    margin-bottom: 30px;
}

#contact p {
    margin: 0;
}

/* bemer */

#bemer {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
}

/* map */

#map {
    padding-bottom: var(--paddingLeft);
}

/* footer */

footer {

    background-color: #329e61;

    margin-left: var(--leftOffset);

    padding: 50px;
    padding-left: var(--paddingLeft);
}

footer > div, footer > div ul {
    display: inline-flex;
}

footer > div > div:first-child {
    margin-right: 5em;
}

footer > div li {
    display: inline-block;
    margin-right: 3em;
}

footer > div li:last-child {
    margin-right: 0;
}

footer > div div:last-child {
    flex-grow: 2;
    text-align: right;
}

@media screen and (max-width: 1280px) {

    footer {
        margin: 0;
        padding: 0;
    }

}

